{{- define "frrconf.yaml" -}}
apiVersion: frrk8s.metallb.io/v1beta1
kind: FRRConfiguration
metadata:
  name: {{ .Name }}
{{- if .Labels }}
  labels:
{{- range $k, $v := .Labels }}
    {{ $k }}: {{ $v }}
{{- end }}
{{- end }}
spec:
{{- if .EVPN }}
  raw:
    rawConfig: |+
      router bgp 64512
        address-family l2vpn evpn
          advertise-all-vni
{{- range .Routers }}
{{- range .NeighborsIPv4 }}
          neighbor {{ . }} activate
{{- end }}
{{- range .NeighborsIPv6 }}
          neighbor {{ . }} activate
{{- end }}
{{- end }}
        exit-address-family
      exit
{{- range .IPVRFs }}
      vrf {{ .VRFName }}
        vni {{ .L3VNI }}
      exit-vrf
      router bgp 64512 vrf {{ .VRFName }}
        address-family ipv4 unicast
          redistribute connected
{{- if .Subnet }}
          network {{ .Subnet }}
{{- end }}
        exit-address-family
        address-family l2vpn evpn
          rd 64512:{{ .L3VNI }}
          route-target import 64512:{{ .L3VNI }}
          route-target export 64512:{{ .L3VNI }}
          advertise ipv4 unicast
        exit-address-family
      exit
{{- end }}
{{- end }}
  bgp:
    routers:
{{- range $v := .Routers }}
    - asn: 64512
{{- if .VRF }}
      vrf: {{ .VRF }}
{{- end }}
      neighbors:
{{- range .NeighborsIPv4 }}
      - address: {{ . }}
        asn: 64512
        disableMP: true
        toReceive:
          allowed:
            mode: filtered
            prefixes:
{{- range $v.NetworksIPv4 }}
            - prefix: {{ . }}
{{- end }}
{{- end }}
{{- range .NeighborsIPv6 }}
      - address: {{ . }}
        asn: 64512
        disableMP: true
        toReceive:
          allowed:
            mode: filtered
            prefixes:
{{- range $v.NetworksIPv6 }}
            - prefix: {{ . }}
{{- end }}
{{- end }}
{{- end }}
{{ end }}
